description "Gunicorn server for {{ host }}"

start on net-device-up
stop on shutdown

respawn

chdir /home/{{ username }}/sites/{{ host }}/source
exec ../virtualenv/bin/gunicorn \
    --access-logfile ../access.log \
    --error-logfile ../error.log \
    superlists.wsgi:application
